extends layout

block content
    link(href='/css/gtfs-map.css', rel='stylesheet')
    script(src='/js/gtfs-map.js')

    h1 GTFS

    h2 Delay Map
    .well.well-lg
        svg#map-canvas(height=800)
