extends layout

block content
    link(href='/css/gtfs.css', rel='stylesheet')
    script(src='/js/gtfs.js')

    h1 GTFS

    h2 Trip Delay Sequences
    .well.well-lg
        svg#trip-delay-sequences(height=600)

    h2 Variability Map
    .well.well-lg
        svg#variability-canvas(height=800)

   