
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.data-line {
  fill: none;
  stroke-width: 1px;
  stroke-opacity: 10%;
  stroke-rendering: crispEdges;
}

.data-cell {
  fill: none;
  stroke-width: 3px;
  stroke-linecap: square;
}

.delay-increasing {
  stroke: red;
}

.delay-decreasing {
  stroke: green;
}

.delay-unchanging {
  stroke: grey;
}
