
path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.major_road { stroke: #776; }
.minor_road { stroke: #ccb; }
.highway { stroke: #222; stroke-width: 1.5px; }
.rail { stroke: #7de; }

.delay {
    stroke: none;
    fill: #FF0000;
}

.route-path {
    fill: none;
    stroke-width: 3.5px;
    stroke: #f39;
}

.route-path.model {
    stroke-width: 5px;
    stroke: black;
}

.route-path-real-data {
    fill: none;
    stroke-width: 2px;
    stroke: #222;
}

.real-data-point {
    stroke: none;
    fill: #222;
}

rect.scale-indicator {
    fill: #000;
    stroke: none;
}
text.scale-indicator {
    font-size: 10px;
}

.speed-path {
    stroke: #4682B4;
}

.map {
  position: relative;
  overflow: hidden;
}

.layer {
  position: absolute;
}

.route {
}

.tile {
  position: absolute;
  width: 256px;
  height: 256px;
}

#route-8-map {
    width: 600px;
    height: 400px;
}

.coord-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
